div#chat {
    position: absolute;
    width: 550px;
    top: 120px;
    left: 1350px;
}

.message-history {
    width: 508px;
    height: 576px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px;
    border: solid 1px grey;
}

.message-input {
    width: 550px;
    height: 70px;
    padding-right: 50px;
}

.send-button {
    background: #6a89ff;
    padding: 5px;
    border-radius: 14px;
    color: white;
    width: 36px;
    right: 5px;
    position: absolute;
    bottom: 24px;
    cursor: pointer;
}

.send-button:hover {
    color: yellow;
    background: #4e6fec;
}

.title {
    font-weight: bold;
    font-size: 17px;
}

.chat .title {
    margin-left: 210px;
    margin-bottom: 7px;
}

.chat span.counter {
    right: 5px;
    position: absolute;
    bottom: -20px;
    color: green;
}

.date-time.me {
    float: right;
}

.name.me {
    float: right;
    margin-right: 10px;
}